# MySQL
MYSQL_USER=root
MYSQL_PASSWORD=8888.216
MYSQL_ADDR=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=local_review_go

# Redis
REDIS_ADDR=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=8888.216

# JWT（生产环境务必修改）
JWT_SECRET_KEY=local-review-key-change-in-production
